* {
    margin: 0;
    padding: 0;
}
body {
    font: 13px "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    width: 180px;
    margin: 3px;
}
#blist {
    list-style: none;
    max-width: 500px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}
#blist li {
    white-space: nowrap;
    position: relative;
}
#blist li:last-child {
    margin-bottom: 1px;
}
#blist li a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 4px;
    color: #000000;
    text-decoration: none;
}
#blist li a img {
    padding-right: 4px;
}
#blist li:hover {
    background: -webkit-gradient(
        linear, left top, left bottom, from(#6a96c4), to(#456180)
    );
}
#blist li:hover a {
    color: #ffffff;
    cursor: default;
}
#blist li .favicon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-top: -3px;
}
#blist li .delete {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
}
#blist li .selected {
    background: #d0e4fa;
}
#blist li .selected:hover {
    background: inherit;
}
#blist input {
    font-family: inherit;
    font-size: 11px;
    padding: 0;
    margin: 0;
    border: 1px inset #ddd;
    width: 90%;
}
hr {
    margin: 3px 0;
    height: 1px;
    border: 0;
    background-color: #ccc;
}
#menu {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #777;
    list-style: none;
    padding: 3px;
}
#menu li {
    cursor: default;
    padding: 3px;
    white-space: nowrap;
}
#menu li:hover {
    color: #ffffff;
    background: #6a96c4;
}
#menu li img {
    vertical-align: bottom;
}
